@use '../variables.scss' as *;

.toggle-button {
  position: fixed;
  top: 2rem;
  right: 6rem;
  width: 48px;
	height: 48px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: white;
  border: none;
  box-shadow: var(--shadow-tertiary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 998;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: 2px solid var(--color-secondary);
    outline-offset: 2px;
  }

	@media (min-width: #{$tablet-min}) {
		display: none;
	}
}