.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &--16 { width: 16px; height: 16px; }
    &--20 { width: 20px; height: 20px; }
    &--24 { width: 24px; height: 24px; }
}