@use '_variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin theme-colors($property, $color-name) {
  #{$property}: var(--color-#{$color-name});
}

@mixin theme-shadow($level) {
  box-shadow: var(--shadow-#{$level});
}

@mixin filter-block {
  margin-bottom: 28px;

  &__title {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-primary);

    @media (max-width: #{$tablet-max}) {
      margin: 0 0 8px 0;
    }

    @media (min-width: #{$desktop-min}) {
      margin: 0 0 12px 0;
    }
  }
}
