@use '../variables.scss' as *;

.layout {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  background-color: var(--color-background);

  @media (max-width: #{$mobile-max}) {
    padding: 24px 16px;
  }

  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    padding: 50px 55px;
    gap: 28px;
  }

  @media (min-width: #{$desktop-min}) {
    padding: 98px 80px;
    gap: 80px
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: #{$mobile-max}) {
      max-width: 100%;
    }

    @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
      max-width: 506px;
    }

    @media (min-width: #{$desktop-min}) {
      max-width: 801px;
    }
  }

  &__header {
    background-color: var(--color-background);

    @media (max-width: #{$mobile-max}) {
      padding-bottom: 30px;
    }

    @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
      padding-bottom: 30px;
    }

    @media (min-width: #{$desktop-min}) {
      padding-bottom: 45px;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    overflow-y: auto;
  }

  &__sidebar {
    @media (max-width: #{$mobile-max}) {
      display: none;
    }

    @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
      width: 318px;
    }

    @media (min-width: #{$desktop-min}) {
      width: 31%;
    }
  }
}